# このプロジェクトについて

https://lgtmoon.herokuapp.com （あるいは https://lgtmoon.dev）という
LGTM という文字が差し込まれた画像を生成するWebサービスがあります。

このWebサービスでは、お気に入り機能があります。
お気に入りした画像は、 localStorage の `favorites` というキーに保存されます。
値は、以下のようなフォーマットで保存されます。

```
[{"url":"https://image.lgtmoon.dev/509043","isConverted":true}]
```

一方で、ブラウザをセットアップしなおすと、お気に入り情報が消えてしまいます。

これを解決するため、 Chrome Extension を作成し、お気に入り情報を同期する機能を提供します。

# このプロジェクトの方針

- TypeScript を使用する
- 厳格な ESLint ルールを採用する
- prettier ルールと競合する場合は、prettier ルールを優先する
- 永続化は、プロファイルに依存し、ブラウザをセットアップし直しても復元できるように `storage.sync` を利用する

# 思考

可能な限り日本語で試行してください。他言語で試行した方が良いパフォーマンスが出る場合は、英語・中国語・韓国語での思考を許可しますが、ユーザーにフィードバックする際は日本語に戻ってください。

# パッケージインストールポリシー

`yarn install {package_name} --exact` と、バージョンを固定してインストールしてください。

# コミットメッセージ作成時のポリシー

Angular の commit message convention を採用してください。
